<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid12">
			<div class="content-main">

				<h4>不重复造轮子</h4>
				<hr>
				<section>
					<p>
						<br></p>
					<p>
						我们并没有重复造轮子。
主要借鉴 bootstrap,uikit,amazeui 的形态并以此为基础，参考各种不同的思路，强化功能，精简体积,此外还定制增强了一些工具类开源库。
					</p>

					<p>
						<br></p>
				</section>

				<hr />
				<p>
					<br></p>
				<h4>兼容性</h4>
				<p>
					<br></p>
				<hr />

				<section>
					<p>
						<br></p>
					<p>
						JUICLEUI不仅支持最新的浏览器还兼容拥有较大用户量的IE较低版本的浏览器。我们支持最新的桌面和手持设备显示器，老式的IE浏览器只做到兼容排版和布局，动态及美观的效果不能完全支持。
					</p>

					<p>
						<br></p>
				</section>
				<hr />
				<p>
					<br></p>
				<h4>联系</h4>
				<p>
					<br></p>
				<hr />

				<section>
					<p>
						<br></p>
					<p>
						email:juicle@qq.com <br>
					</p>

					<p>
						<br></p>
				</section>

			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>