<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>块/Block</h4>
				<p>
					创建一个block我们需要一个
					<code>.block</code>
					的类。下面我们来演示下如何创建一个block。
				</p>
				<hr />

				<div class="row-fluid">
					<h4>基本的块</h4>
				</div>

				<div class="row-fluid">
					<span class="btn-label danger">栗子</span>

					<div class="block block-muted">
						<div class="container pad-horizontal-middle">
							<h3>Block</h3>
							<div class="grid12">
								<div class="grid6 alpha">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
								<div class="grid6 omega">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
							</div>
						</div>
					</div>

					<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"block"</span>&gt;</span>…<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>
				</div>

				<div class="row-fluid">
					<h4>修饰</h4>
				</div>

				<p>
					使用不同的背景颜色和 padding ，添加以下类中的一个就行了。当两个连续的块拥有相同的背景色时，padding 会自动被分开。
				</p>

				<div class="responsive-table">
					<table class="table">
						<thead>
							<tr>
								<th>class</th>
								<th>描述</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<code>.block-default</code>
								</td>
								<td>添加默认的背景色彩，通常是白色或类似的颜色。</td>
							</tr>
							<tr>
								<td>
									<code>.block-muted</code>
								</td>
								<td>添加亮背景色。</td>
							</tr>
							<tr>
								<td>
									<code>.block-primary</code>
								</td>
								<td>添加表示着重的背景色。</td>
							</tr>

						</tbody>
					</table>
				</div>

				<div class="row-fluid">
					<span class="btn-label danger">栗子</span>

					<div class="block block-primary">
						<div class="container pad-horizontal-middle color-white">
							<h3>Block</h3>
							<div class="grid12">
								<div class="grid6 alpha">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
								<div class="grid6 omega">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
							</div>
						</div>
					</div>

					<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"block block-primary"</span>&gt;</span>…<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>
				</div>

				<div class="row-fluid">
					<h4>Padding</h4>
				</div>

				<p>
					为块添加较大的 padding ，只需添加一个
					<code>.block-large</code>
					类。你还可以使用效果组件中的
					<code>.padding-*</code>
					类，来设置块中 padding 。
				</p>

				<div class="row-fluid">
					<span class="btn-label danger">栗子</span>

					<div class="block block-primary block-large">
						<div class="container pad-horizontal-middle color-white">
							<h3>Block</h3>
							<div class="grid12">
								<div class="grid6 alpha">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
								<div class="grid6 omega">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
							</div>
						</div>
					</div>

					<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"block block-primary block-large"</span>&gt;</span>…<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>
				</div>

			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>