
	<header class="head-nav mobile-hidden">
		
	</header>

	<div class="mobile-nav">
		
	</div>

	<div class="page-main">
		<div class="container12">

			<div class="grid2">
				<ul class="side-nav">
					
				</ul>
			</div>

			<div class="grid10">
				<div class="content-main">

	                <h4>按钮</h4>
		            <p>创建按钮的样式是简单的。所有的按钮用 <code>btn</code> 的类来命名。这里添加了一些设计时需要用到的按钮类。
		            </p>
            
            		<hr />

		            <div class="row-fluid">
		                <h4>不同的样式</h4>
		                <p>基本的按钮样式</p>
		                <p><span class="btn-label danger">栗子</span></p>
		            </div>
              
		            <div class="row-fluid">
		                <button class="btn btn-default">基本</button>
		                <button class="btn btn-primary">主要</button>
		                <button class="btn btn-success">成功</button>
		                <button class="btn btn-info">信息</button>
		                <button class="btn btn-warning">警告</button>
		                <button class="btn btn-danger">危险</button>
		                <button class="btn btn-link">按钮超链接</button>
		            </div>
              
            		<pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-default"</span>&gt;</span>基本<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-primary"</span>&gt;</span>主要<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-success"</span>&gt;</span>成功<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-info"</span>&gt;</span>信息<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-warning"</span>&gt;</span>警告<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-danger"</span>&gt;</span>危险<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-link"</span>&gt;</span>按钮超链接<span class="tag">&lt;<span class="title">/button</span>&gt;</span></code></pre>

          			<hr />
          
		            <div class="row-fluid">
		                <h4>按钮尺寸</h4>
		                <p>
		                  小按钮，大按钮，所有的按钮只要加上 <code>btn-sm</code> 或 <code>btn-lg</code> 就可以了。
		                </p>
		                <p><span class="btn-label danger">栗子</span></p>
		            </div>
              
		            <div class="row-fluid">
		                <p>
		                  <button class="btn btn-sm btn-default">小按钮</button>
		                  <button class="btn btn-sm btn-primary">小按钮</button>
		                </p>
		                <p>
		                  <button class="btn btn-default">基本按钮</button>
		                  <button class="btn btn-primary">基本按钮</button>
		                </p>
		                <p>
		                  <button class="btn btn-lg btn-default">大按钮</button>
		                  <button class="btn btn-lg btn-primary">大按钮</button>
		                </p>
		            </div>
              
            		<pre><code class="xml"><span class="tag">&lt;<span class="title">p</span>&gt;</span>
 <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-sm btn-default"</span>&gt;</span>小按钮<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
 <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-sm btn-primary"</span>&gt;</span>小按钮<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">/p</span>&gt;</span>
<span class="tag">&lt;<span class="title">p</span>&gt;</span>
 <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-default"</span>&gt;</span>基本按钮<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
 <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-primary"</span>&gt;</span>基本按钮<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">/p</span>&gt;</span>
<span class="tag">&lt;<span class="title">p</span>&gt;</span>
 <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-lg btn-default"</span>&gt;</span>大按钮<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
 <span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-lg btn-primary"</span>&gt;</span>大按钮<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">/p</span>&gt;</span>
</code></pre>
          
          			<hr />

		            <div class="row-fluid">
		                <h4>通栏按钮</h4>
		                <p>通栏显示的按钮只要添加 <code>btn-full</code> 就可以了。
		                </p>
		                <p><span class="btn-label danger">栗子</span></p>
		            </div>
              
		            <div class="row-fluid">
		                <p><button class="btn btn-full btn-lg btn-default">通栏按钮</button></p>
		                <p><button class="btn btn-full btn-lg btn-primary">通栏按钮</button></p>
		            </div>
              
            		<pre><code class="xml"><span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-full btn-lg btn-default"</span>&gt;</span>full width button<span class="tag">&lt;<span class="title">/button</span>&gt;</span><span class="tag">&lt;<span class="title">/p</span>&gt;</span>
<span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-full btn-lg btn-primary"</span>&gt;</span>full width button<span class="tag">&lt;<span class="title">/button</span>&gt;</span><span class="tag">&lt;<span class="title">/p</span>&gt;</span>
</code></pre>
          
          			<hr />
          
		            <div class="row-fluid">
		                <h4>轮廓按钮</h4>
		                <p>简单的创建有轮廓的按钮</p>
		                <p><span class="btn-label danger">栗子</span></p>
		            </div>
              
		            <div class="row-fluid">
		                <button class="btn btn-default-outline">基本</button>
		                <button class="btn btn-primary-outline">主要</button>
		                <button class="btn btn-success-outline">成功</button>
		                <button class="btn btn-info-outline">信息</button>
		                <button class="btn btn-warning-outline">警告</button>
		                <button class="btn btn-danger-outline">危险</button>
		             </div>
              
            		<pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-default"</span>&gt;</span>基本<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-primary-outline"</span>&gt;</span>主要<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-success-outline"</span>&gt;</span>成功<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-info-outline"</span>&gt;</span>信息<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-warning-outline"</span>&gt;</span>警告<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-danger-outline"</span>&gt;</span>危险<span class="tag">&lt;<span class="title">/button</span>&gt;</span></code></pre>
          
          			<hr />
          
		          
          
		            <div class="row-fluid">
		                <h4>圆角按钮</h4>
		                <p>圆角按钮添加 <code>btn-pill</code> 类就可以了。</p>
		                <p><span class="btn-label danger">栗子</span></p>
		            </div>
              
		            <div class="row-fluid">
		                <button class="btn btn-pill btn-default">基本</button>
		                <button class="btn btn-pill btn-primary">主要</button>
		                <button class="btn btn-pill btn-success">成功</button>
		                <button class="btn btn-pill btn-info">信息</button>
		                <button class="btn btn-pill btn-warning">警告</button>
		                <button class="btn btn-pill btn-danger">危险</button>
		            </div>
              
            		<pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-pill btn-default-gradient"</span>&gt;</span>基本<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-pill btn-primary-outline"</span>&gt;</span>主要<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-pill btn-success"</span>&gt;</span>成功<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-pill btn-info-gradient"</span>&gt;</span>信息<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-pill btn-warning-outline"</span>&gt;</span>警告<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-pill btn-danger"</span>&gt;</span>危险<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
</code></pre>
          			<hr />
          
		            <div class="row-fluid">
		                <h4>禁用按钮</h4>
		                <p>禁用的按钮使用 <code>is-disabled</code> 类</p>
		                <p><span class="btn-label danger">栗子</span></p>
		            </div>
		              
		            <div class="row-fluid">
		                <button class="btn btn-default is-disabled">基本</button>
		                <button class="btn btn-primary is-disabled">主要</button>
		            </div>
              
            		<pre><code class="xml"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-default is-disabled"</span>&gt;</span>基本<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">class</span>=<span class="attribute">"btn btn-primary is-disabled"</span>&gt;</span>主要<span class="tag">&lt;<span class="title">/button</span>&gt;</span>
</code></pre>
          			<hr />

		            <h4>按钮修饰类</h4>
		            <p>下面是你能创建的不同样式的按钮的快速预览。
		            </p>
          
            		<div class="responsive-table">  
		              <table class="table table-condensed">
		                <thead>
		                  <tr>
		                    <th>样式</th>
		                    <th>类</th>
		                  </tr>
		                  <tbody>
		                    <tr>
		                      <td><button class="btn btn-default">基本按钮</button></td>
		                      <td><code>btn btn-default</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-pill btn-default">基本圆角</button></td>
		                      <td><code>btn btn-pill btn-default</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-default-outline">基本轮廓</button></td>
		                      <td><code>btn btn-default-outline</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-primary">主要按钮</button></td>
		                      <td><code>btn btn-primary</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-pill btn-primary">主要圆角</button></td>
		                      <td><code>btn btn-pill btn-primary</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-primary-outline">主要轮廓</button></td>
		                      <td><code>btn btn-primary-outline</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-success">成功按钮</button></td>
		                      <td><code>btn btn-success</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-pill btn-success">成功圆角</button></td>
		                      <td><code>btn btn-pill btn-success</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-success-outline">成功轮廓</button></td>
		                      <td><code>btn btn-success-outline</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-info">信息按钮</button></td>
		                      <td><code>btn btn-info</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-pill btn-info">信息圆角</button></td>
		                      <td><code>btn btn-pill btn-info</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-info-outline">信息轮廓</button></td>
		                      <td><code>btn btn-info-outline</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-warning">警告按钮</button></td>
		                      <td><code>btn btn-warning</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-pill btn-warning">警告圆角</button></td>
		                      <td><code>btn btn-pill btn-warning</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-warning-outline">警告轮廓</button></td>
		                      <td><code>btn btn-warning-outline</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-danger">危险按钮</button></td>
		                      <td><code>btn btn-danger</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-pill btn-danger">危险圆角</button></td>
		                      <td><code>btn btn-pill btn-danger</code></td>
		                    </tr>
		                    <tr>
		                      <td><button class="btn btn-danger-outline">危险轮廓</button></td>
		                      <td><code>btn btn-danger-outline</code></td>
		                    </tr>
		                  </tbody>
		              </table>
            		</div>

				</div>
			</div>

		</div>
	</div>
	
	<footer>
		
	</footer>
	<script>
		hljs.initHighlightingOnLoad();
	</script>