<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>评论/Comment</h4>
				<p>创建评论，比如文章的评论。
				</p>
				<hr />
                
                <div class="row-fluid">
					<h4>基本的评论</h4>
				</div>
                <p>评论组件由包含头像、标题和元数据的评论header以及评论主体组成。</p>
                
				<div class="responsive-table">
					<table class="table">
						<thead>
							<tr>
								<th>class</th>
								<th>描述</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><code>.comment</code></td>
								<td>添加这个类定义评论组件。</td>
							</tr>
							<tr>
								<td><code>.comment-header</code></td>
								<td>添加这个类创建评论header。</td>
							</tr>
							<tr>
								<td><code>.comment-header</code></td>
								<td>添加到 <code>&lt;img&gt;</code> 元素创建评论者的头像。</td>
							</tr>
							<tr>
								<td><code>.comment-title</code></td>
								<td>添加这个类到一个标题元素中，创建评论的标题。</td>
							</tr>
							<tr>
								<td><code>.comment-meta</code></td>
								<td>为段落添加这个类，创建评论的元数据。</td>
							</tr>
							<tr>
								<td><code>.comment-body</code></td>
								<td>为 <code>&lt;div&gt;</code> 元素添加这个类，创建评论主体。</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row-fluid">
					<span class="btn-label danger">栗子</span>
					<ul class="comment-list">
						<li>
							<div class="comment">
								<div class="comment-header">
									<img class="comment-avatar" src="../assets/images/placeholder_avatar.png" width="50" height="50" alt="">					
									<h4 class="comment-title">作者</h4>
									<div class="comment-meta">12天前 | 传说中的大水比 | #</div>
								</div>
								<div class="comment-body">
									<p>这里是评论</p>
								</div>
							</div>
						</li>
						<li>
							<div class="comment">
								<div class="comment-header">
									<img class="comment-avatar" src="../assets/images/placeholder_avatar.png" width="50" height="50" alt="">					
									<h4 class="comment-title">作者</h4>
									<div class="comment-meta">12天前 | 传说中的大水比 | #</div>
								</div>
								<div class="comment-body">
									<p>这里是评论</p>
								</div>
							</div>
						</li>
					</ul>
					<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"comment"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"comment-header"</span>&gt;</span>
        <span class="tag">&lt;<span class="title">img</span> <span class="attribute">class</span>=<span class="attribute">"comment-avatar"</span> <span class="attribute">src</span>=<span class="attribute">"..."</span> <span class="attribute">alt</span>=<span class="attribute">"..."</span><span class="title">/</span>&gt;</span>
        <span class="tag">&lt;<span class="title">h4</span> <span class="attribute">class</span>=<span class="attribute">"comment-title"</span>&gt;</span>...<span class="tag">&lt;<span class="title">/h4</span>&gt;</span>
        <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"comment-meta"</span>&gt;</span>...<span class="tag">&lt;<span class="title">/div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">/div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"comment-body"</span>&gt;</span>...<span class="tag">&lt;<span class="title">/div</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span>
					</code></pre>
				</div>

				



			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>