<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>下拉菜单</h4>
				<p>创建一个button启动菜单</p>
				<hr />

				<div class="row-fluid">
					<h4>用法</h4>
				</div>

				<div class="row-fluid">
					<span class="btn-label danger">栗子</span>
                        <div class="row-fluid">
                        	<div class="dropdown">
							<button class="btn btn-default" id="dropdown">下拉菜单(click)</button>
							<ul class="sub-menu">
								<li class="sub-item">
									<a href="#">规范</a>
								</li>
								<li class="sub-item">
									<a href="#">网格系统</a>
								</li>
								<li class="sub-item">
									<a href="#">配置</a>
								</li>
								<li class="sub-item">
									<a href="#">文本</a>
								</li>
								<li class="sub-item">
									<a href="#">颜色</a>
								</li>
							</ul>
						</div>

						<div class="dropdown">
							<button class="btn btn-default" id="dropdown" action="mouseover">下拉菜单(hover)</button>
							<ul class="sub-menu">
								<li class="sub-item">
									<a href="#">规范</a>
								</li>
								<li class="sub-item">
									<a href="#">网格系统</a>
								</li>
								<li class="sub-item">
									<a href="#">配置</a>
								</li>
								<li class="sub-item">
									<a href="#">文本</a>
								</li>
								<li class="sub-item">
									<a href="#">颜色</a>
								</li>
							</ul>
						</div>

						<div class="dropdown">
							<button class="btn btn-default" id="dropdown" action="mouseover" delay="100">下拉菜单(delay)</button>
							<ul class="sub-menu">
								<li class="sub-item">
									<a href="#">规范</a>
								</li>
								<li class="sub-item">
									<a href="#">网格系统</a>
								</li>
								<li class="sub-item">
									<a href="#">配置</a>
								</li>
								<li class="sub-item">
									<a href="#">文本</a>
								</li>
								<li class="sub-item">
									<a href="#">颜色</a>
								</li>
							</ul>
						</div>
                        </div>
				
						
				

					<pre><code class="xml">&lt;div class=&quot;dropdown&quot;&gt;
	&lt;button class=&quot;btn btn-default&quot; id=&quot;dropdown&quot;&gt;下拉菜单(click)&lt;/button&gt;
	&lt;ul class=&quot;sub-menu&quot;&gt;...&lt;/ul&gt;
&lt;/div&gt;
&lt;div class=&quot;dropdown&quot;&gt;
	&lt;button class=&quot;btn btn-default&quot; id=&quot;dropdown&quot; action=&quot;mouseover&quot;&gt;下拉菜单(hover)&lt;/button&gt;
	&lt;ul class=&quot;sub-menu&quot;&gt;...&lt;/ul&gt;
&lt;/div&gt;
&lt;div class=&quot;dropdown&quot;&gt;
	&lt;button class=&quot;btn btn-default&quot; id=&quot;dropdown&quot; action=&quot;mouseover&quot; delay=&quot;100&quot;&gt;下拉菜单(hover)&lt;/button&gt;
	&lt;ul class=&quot;sub-menu&quot;&gt;...&lt;/ul&gt;
&lt;/div&gt;</code></pre>
				</div>

			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>