<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h1>颜色</h1>
				<p>JUICLEUI提供了颜色调色板。你会发现黑色、白色和所有常见的颜色和灰度。我们还提供了各种元素的语义颜色。</p>
				<hr />

				<div class="row-fluid">
					<div class="color-box-row">
						<div class="box bc000">
							<span class="style">#000</span>
						</div>
						<div class="box bc222">
							<span class="style">#222</span>
						</div>
						<div class="box bc333">
							<span class="style">#333</span>
						</div>
						<div class="box bc555">
							<span class="style">#555</span>
						</div>
						<div class="box bc777">
							<span class="style">#777</span>
						</div>
						<div class="box bc999">
							<span class="style">#999</span>
						</div>
						<div class="box bcaaa">
							<span class="style">#aaa</span>
						</div>
						<div class="box bcccc">
							<span class="style">#ccc</span>
						</div>
						<div class="box bcddd">
							<span class="style">#ddd</span>
						</div>
						<div class="box bceee">
							<span class="style">#eee</span>
						</div>
						<div class="box bcfff">
							<span class="style">#fff</span>
						</div>
					</div>
				</div>
				<br>
				<div class="responsive-table">
					<table class="table">
						<thead>
							<tr>
								<th>类名</th>
								<th>输出</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<code>.bc000</code>
								</td>
								<td>#000</td>
							</tr>
							<tr>
								<td>
									<code>.bc222</code>
								</td>
								<td>#222</td>
							</tr>
							<tr>
								<td>
									<code>.bc333</code>
								</td>
								<td>#333</td>
							</tr>
							<tr>
								<td>
									<code>.bc555</code>
								</td>
								<td>#555</td>
							</tr>
							<tr>
								<td>
									<code>.bc777</code>
								</td>
								<td>#777</td>
							</tr>
							<tr>
								<td>
									<code>.bc999</code>
								</td>
								<td>#999</td>
							</tr>
							<tr>
								<td>
									<code>.bcaaa</code>
								</td>
								<td>#aaa</td>
							</tr>
							<tr>
								<td>
									<code>.bcccc</code>
								</td>
								<td>#ccc</td>
							</tr>
							<tr>
								<td>
									<code>.bcddd</code>
								</td>
								<td>#ddd</td>
							</tr>
							<tr>
								<td>
									<code>.bceee</code>
								</td>
								<td>#eee</td>
							</tr>
							<tr>
								<td>
									<code>.bcfff</code>
								</td>
								<td>#fff</td>
							</tr>
						</tbody>
					</table>
				</div>

				<hr />

				<div class="row-fluid">
					<div class="color-box-row">
						<div class="box bc-primary">
							<span class="style">主要</span>
						</div>
						<div class="box bc-success">
							<span class="style">成功</span>
						</div>
						<div class="box bc-info">
							<span class="style">信息</span>
						</div>
						<div class="box bc-warning">
							<span class="style">警告</span>
						</div>
						<div class="box bc-danger">
							<span class="style">危险</span>
						</div>
					</div>
				</div>
				<br>
				<div class="responsive-table">
					<table class="table">
						<thead>
							<tr>
								<th>类名</th>
								<th>输出</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<code>.bc-primary</code>
								</td>
								<td>#349bde</td>
							</tr>
							<tr>
								<td>
									<code>.bc-success</code>
								</td>
								<td>#40d47e</td>
							</tr>
							<tr>
								<td>
									<code>.bc-info</code>
								</td>
								<td>#2ddacc</td>
							</tr>
							<tr>
								<td>
									<code>.bc-warning</code>
								</td>
								<td>#f4a72a</td>
							</tr>
							<tr>
								<td>
									<code>.bc-danger</code>
								</td>
								<td>#e74c3c</td>
							</tr>
						</tbody>
					</table>
				</div>

				<hr />

				<div class="row-fluid">
					<div class="color-box-row">
						<div class="box2 color-red">
							<span class="style">红色</span>
						</div>
						<div class="box2 color-warter-blue">
							<span class="style">水蓝色</span>
						</div>
						<div class="box2 color-yellow">
							<span class="style">黄色</span>
						</div>
						<div class="box2 color-green">
							<span class="style">绿色</span>
						</div>
						<div class="box2 color-ice-blue">
							<span class="style">冰蓝色</span>
						</div>
						<div class="box2 color-blue">
							<span class="style">蓝色</span>
						</div>
						<div class="box2 color-gray">
							<span class="style">灰色</span>
						</div>
					</div>
				</div>
				<br>
				<div class="responsive-table">
					<table class="table">
						<thead>
							<tr>
								<th>类名</th>
								<th>输出</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<code>.color-red</code>
								</td>
								<td>#e74b3c</td>
							</tr>
							<tr>
								<td>
									<code>.color-warter-blue</code>
								</td>
								<td>#2ddacc</td>
							</tr>
							<tr>
								<td>
									<code>.color-yellow</code>
								</td>
								<td>#f4a72a</td>
							</tr>
							<tr>
								<td>
									<code>.color-green</code>
								</td>
								<td>#40d47e</td>
							</tr>
							<tr>
								<td>
									<code>.color-ice-blue</code>
								</td>
								<td>#349bde</td>
							</tr>
							<tr>
								<td>
									<code>.color-blue</code>
								</td>
								<td>#26c3f5</td>
							</tr>
							<tr>
								<td>
									<code>.color-gray</code>
								</td>
								<td>#777</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>