<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>HTML 编辑器</h4>
				<p>
					创建可以实时预览并且带有语法高亮的富文本编辑器或Markdown编辑器。
				</p>
				<hr />
                
                <div class="row-fluid">
					<h4>用法</h4>
				</div>

                <div class="row-fluid">
					<span class="btn-label danger">栗子</span>

					<script type="text/plain" id="editor" style="height:300px;"></script>


					<pre><code class="xml">&lt;script type=&quot;text/plain&quot; id=&quot;editor&quot;&gt;&lt;/script&gt;</code></pre>
				</div>

				<p>
					详细使用方法参见<a href="http://fex.baidu.com/ueditor/" target="_blank">http://fex.baidu.com/ueditor/</a>
				</p>

				

				



			</div>
		</div>

	</div>
</div>

<footer></footer>
<script type="text/javascript" charset="utf-8" src="/src/assets/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/src/assets/lib/ueditor/ueditor.all.min.js"></script>
 <script type="text/javascript">
        var ue = UE.getEditor('editor');
    </script>
<script>hljs.initHighlightingOnLoad();</script>