<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<section class="home-banner mobile-hidden">
	<div class="container12">
		<div class="grid6 tablet12">
			&nbsp;
		</div>
		<div class="grid4 suffix2 tablet12">
			<div class="banner-txt">
				<h3>简洁&兼容</h3>
				<p>
					代码简洁，结构清晰,构建新UI更加便捷
					<br />
					框架布局向后兼容IE 6 7 ,向前主流浏览器表现出色
				</p>
				<p>
					<a href="#" target="blank">下载JUICLEUI V1.0</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="home-feature">
	<div class="container12">
		<div class="grid3 tablet6"> <i class="fa fa-html5"></i>
			<h4>HTML5&CSS3</h4>
			<p>使用Html5及CSS3，兼容IE6及以上的IE浏览器和各主流浏览器。</p>
		</div>
		<div class="grid3 tablet6"> <i class="fa fa-th-large"></i>
			<h4>网格&响应式设计</h4>
			<p>在960网格系统的基础上，增加了对各种尺寸显示器的支持，内置流体布局系统。</p>
		</div>
		<div class="grid3 tablet6">
			<i class="fa fa-paper-plane"></i>
			<h4>简UI</h4>
			<p>极简的UI设计，让用户更容易定制自己的UI，再不用删减多余的代码了。</p>
		</div>
		<div class="grid3 tablet6">
			<i class="fa fa-wrench"></i>
			<h4>JQ插件</h4>
			<p>启用主流JQ框架，您也可以使用自己的JS框架或者使用我们的内置JQ插件。</p>
		</div>
	</div>
</section>

<section class="home-friend">
	<div class="container12">
		<div class="grid4 tablet12">
			<h5>目前的开发者</h5>
			<p>
				JUICLEUI主要由
				<a href="http://weibo.com/liqinglinha" target="blank">@LEON</a>
				发起并承担前期基础的框架和网站建设任务。我们需要更多感兴趣的前后端人士一起完善和推动这个项目。欢迎UI鼓励狮、JS构架师、PHP程序猿、JOOMLA程序猿、前端攻城狮、LESS攻城狮加入这个高逼格的项目。QQ幕僚群：
				<a href="#">1624713169</a>
			</p>
		</div>
		<div class="grid4 tablet12">
			<h5>JUICLEUI的核心</h5>
			<p>
				JUICLEUI是一个轻量级的定制性极好的开源前端框架。JUICLEUI把UI部分从框架中分离出来，你可以在现有UI的基础上搭建简单的网站，也可以修改丰富现有的UI，甚至创建自己的个性UI。JUICLEUI在基础UI和框架布局上兼容了较老版本的IE6-9系列浏览器，弥补了国内前端框架少，国外框架兼容性差，难入手的不足。
			</p>
		</div>
		<div class="grid4 tablet12">
			<h5>陈列馆</h5>
			<p>
				感谢的人：
				<a href="http://weibo.com/liqinglinha" target="blank">@JUICLE</a>
				<br />
				等待交换链接的站：
				<a href="http://ninghao.net/" target="blank">@宁皓网</a>
				<a href="http://www.zcool.com.cn/" target="blank">@站酷</a>
				<a href="http://www.blueidea.com/" target="blank">@ 蓝色理想</a>
				<br />
				偶们关注的网友：
				<a href="http://www.xiumu.org/" target="blank">@朽木</a>
				<a href="http://weibo.com/rokeyzhang" target="blank">@Rokey</a>
				<br />
				目前可用的版本：JUICLEUI V1.0
			</p>
		</div>
	</div>
</section>

<footer></footer>