<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>列表组</h4>
				<p>列表组是一个非常强大的可以把内容简单的显示成一个列表的组件。下面是一些列表组的使用栗子，都是非常灵活的。</p>
				<hr />

				<div class="row-fluid">
					<h4>基本的列表组</h4>
					<p>基本上，这些都是通栏的宽度。它是一个基本带很少样式的无序列表。你可以用以下几个栗子或者你自己写样式给这些列表组。</p>
					<p>
						<span class="btn-label danger">栗子</span>
					</p>
					<div class="row-fluid">
						<ul class="list-group">
							<li class="list-group-element">This is item one</li>
							<li class="list-group-element">This is item two</li>
							<li class="list-group-element">This is item three</li>
							<li class="list-group-element">This is item four</li>
							<li class="list-group-element">This is item five</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">ul</span> <span class="attribute">class</span>=<span class="attribute">"list-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item one<span class="tag">&lt;<span class="title">/li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item two<span class="tag">&lt;<span class="title">/li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item three<span class="tag">&lt;<span class="title">/li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item four<span class="tag">&lt;<span class="title">/li</span>&gt;</span>
  <span class="tag">&lt;<span class="title">li</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item five<span class="tag">&lt;<span class="title">/li</span>&gt;</span>
<span class="tag">&lt;<span class="title">/ul</span>&gt;</span></code></pre>

				<hr />

				<div class="row-fluid">
					<h4>另一种列表组</h4>
					<p>
						用
						<code>div</code>
						和
						<code>a</code>
						标签来替换前面的
						<code>ul</code>
						，
						<code>li</code>
						标签来建立列表组。
					</p>
					<p>
						<span class="btn-label danger">栗子</span>
					</p>
					<div class="list-group">
						<a href="#" class="list-group-element active">This is item one</a>
						<a href="#" class="list-group-element">This is item two</a>
						<a href="#" class="list-group-element">This is item three</a>
						<a href="#" class="list-group-element">This is item four</a>
						<a href="#" class="list-group-element">This is item five</a>
						<a href="#" class="list-group-element">This is item six</a>
						<a href="#" class="list-group-element">This is item seven</a>
					</div>
					<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"list-group"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element active"</span>&gt;</span>This is item one<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item two<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item three<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item four<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item five<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>
				</div>

				<hr />

				<div class="row-fluid">
					<h4>无边框列表组</h4>
					<p>
						添加类
						<code>no-b</code>
						到
						<code>list-group</code>
						里使列表组没有边框。
					</p>
					<p>
						<span class="btn-label danger">栗子</span>
					</p>
					<div class="list-group no-b">
						<a href="#" class="list-group-element active">This is item one</a>
						<a href="#" class="list-group-element">This is item two</a>
						<a href="#" class="list-group-element">This is item three</a>
						<a href="#" class="list-group-element">This is item four</a>
						<a href="#" class="list-group-element">This is item five</a>
						<a href="#" class="list-group-element">This is item six</a>
						<a href="#" class="list-group-element">This is item seven</a>
					</div>
					<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"list-group no-b"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element active"</span>&gt;</span>This is item one<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item two<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item three<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item four<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="attribute">"list-group-element"</span>&gt;</span>This is item five<span class="tag">&lt;<span class="title">/a</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>
				</div>

			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>