	<header class="head-nav mobile-hidden">
		
	</header>

	<div class="mobile-nav">
		
	</div>

	<div class="page-main">
		<div class="container12">

			<div class="grid2">
				<ul class="side-nav">
					
				</ul>
			</div>

			<div class="grid10">
				<div class="content-main">

	                <h4>导航</h4>
		            <p>
		            	使用一个简单的有下拉菜单的导航到你的网站上，你甚至可以在此基础上添加图文混排的效果。
		            </p>
		            <hr />
		            <p><span class="btn-label danger">栗子</span></p>
          			<header class="head-nav2">
			            <div class="row-fluid">			                
							<div class="grid2">
								<div class="logo2"><img src="../assets/images/logo.png" alt="" width="80px"/></div>
							</div>
							<div class="grid10">
								<ul class="nav-menu">
									<li class="menu-item border-bottom" onMouseOver="this.className+=' menu-item-on'" onMouseOut="this.className='menu-item border-bottom'"><a href="#" class="item-link">首页</a></li>

									<li class="menu-item" onMouseOver="this.className+=' menu-item-on'" onMouseOut="this.className='menu-item'"><a href="#" class="item-link">框架</a>
										<ul class="sub-menu">
											<li class="sub-item"><a href="#">规范</a></li>
											<li class="sub-item"><a href="#">网格系统</a></li>
											<li class="sub-item"><a href="#">配置</a></li>
											<li class="sub-item"><a href="#">文本</a></li>
											<li class="sub-item"><a href="#">颜色</a></li>
										</ul>
									</li>

									<li class="menu-item" onMouseOver="this.className+=' menu-item-on'" onMouseOut="this.className='menu-item'"><a href="#" class="item-link">CSS</a>
										<ul class="sub-menu">
											<li class="sub-item"><a href="css-table.html">表格</a></li>
											<li class="sub-item"><a href="css-form.html">表单</a></li>
											<li class="sub-item"><a href="css-button.html">按钮</a></li>
											<li class="sub-item"><a href="css-info.html">角标</a></li>
											<li class="sub-item"><a href="css-panel.html">面板</a></li>
											<li class="sub-item"><a href="css-inputs.html">输入集合</a></li>
											<li class="sub-item"><a href="css-buttons.html">按钮集合</a></li>
											<li class="sub-item"><a href="css-tips.html">提示框</a></li>
											<li class="sub-item"><a href="css-tab.html">标签</a></li>
										</ul>
									</li>

									<li class="menu-item" onMouseOver="this.className+=' menu-item-on'" onMouseOut="this.className='menu-item'"><a href="#" class="item-link">组件</a>
										<ul class="sub-menu">
											<li class="sub-item"><a href="com-page.html">分页</a></li>
											<li class="sub-item"><a href="com-nav.html">导航</a></li>
											<li class="sub-item"><a href="com-list.html">列组</a></li>
										</ul>
									</li>

									<li class="menu-item border-bottom" onMouseOver="this.className+=' menu-item-on'" onMouseOut="this.className='menu-item border-bottom'"><a href="#" class="item-link">JS插件</a></li>
								</ul>

							</div>
			            </div>
		            </header>

            		<pre><code class="xml">&lt;header class=&quot;head-nav2&quot;&gt;
	&lt;div class=&quot;row-fluid&quot;&gt;
		&lt;div class=&quot;grid2&quot;&gt;
			&lt;div class=&quot;logo2&quot;&gt;&lt;img src=&quot;../assets/images/logo2.png&quot; alt=&quot;&quot; /&gt;&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;grid10&quot;&gt;
			&lt;ul class=&quot;nav-menu&quot;&gt;
				&lt;li class=&quot;menu-item border-bottom&quot; onMouseOver=&quot;this.className+=' menu-item-on'&quot; onMouseOut=&quot;this.className='menu-item border-bottom'&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;item-link&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;

				&lt;li class=&quot;menu-item&quot; onMouseOver=&quot;this.className+=' menu-item-on'&quot; onMouseOut=&quot;this.className='menu-item'&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;item-link&quot;&gt;框架&lt;/a&gt;
					&lt;ul class=&quot;sub-menu&quot;&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;规范&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;网格系统&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;配置&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;文本&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;颜色&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/li&gt;

				&lt;li class=&quot;menu-item&quot; onMouseOver=&quot;this.className+=' menu-item-on'&quot; onMouseOut=&quot;this.className='menu-item'&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;item-link&quot;&gt;CSS&lt;/a&gt;
					&lt;ul class=&quot;sub-menu&quot;&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-table.html&quot;&gt;表格&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-form.html&quot;&gt;表单&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-button.html&quot;&gt;按钮&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-info.html&quot;&gt;角标&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-panel.html&quot;&gt;面板&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-inputs.html&quot;&gt;输入集合&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-buttons.html&quot;&gt;按钮集合&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-tips.html&quot;&gt;提示框&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;css-tab.html&quot;&gt;标签&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/li&gt;

				&lt;li class=&quot;menu-item&quot; onMouseOver=&quot;this.className+=' menu-item-on'&quot; onMouseOut=&quot;this.className='menu-item'&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;item-link&quot;&gt;组件&lt;/a&gt;
					&lt;ul class=&quot;sub-menu&quot;&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;com-page.html&quot;&gt;分页&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;com-nav.html&quot;&gt;导航&lt;/a&gt;&lt;/li&gt;
						&lt;li class=&quot;sub-item&quot;&gt;&lt;a href=&quot;com-list.html&quot;&gt;列组&lt;/a&gt;&lt;/li&gt;
					&lt;/ul&gt;
				&lt;/li&gt;

				&lt;li class=&quot;menu-item border-bottom&quot; onMouseOver=&quot;this.className+=' menu-item-on'&quot; onMouseOut=&quot;this.className='menu-item border-bottom'&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;item-link&quot;&gt;JS插件&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;

		&lt;/div&gt;
	&lt;/div&gt;
&lt;/header&gt;</code></pre>
					
					<hr />

					<h4>手机端的导航</h4>
		            <p>
		            	手机端的导航只在手机端打开网站的时候才显示出来，其他情况都是隐藏的状态。
		            </p>
		            <p><span class="btn-label danger">栗子</span></p>
		            <p>把本网站在手机端或者缩小浏览器到手机的设备宽度后打开即可看到。</p>
		            <pre><code class="xml">&lt;div class=&quot;mobile-nav&quot;&gt;
	&lt;div class=&quot;mobile-nav-bg&quot;&gt;&lt;/div&gt;
	&lt;a href=&quot;#mobile-nav-menu&quot; class=&quot;open toggle-btn&quot;&gt;&lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;&lt;/a&gt;
	&lt;div id=&quot;mobile-nav-menu&quot;&gt;
		&lt;ul&gt;
			&lt;li&gt;&lt;a href=&quot;index.html&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;frame-standard.html&quot;&gt;框架&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;css-table.html&quot;&gt;CSS&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;com-page.html&quot;&gt;组件&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;js-flash.html&quot;&gt;JS插件&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;a href=&quot;#&quot; class=&quot;close toggle-btn&quot;&gt;&lt;i class=&quot;fa fa-close&quot;&gt;&lt;/i&gt;&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

				</div>
			</div>

		</div>
	</div>
	
	<footer>
		
	</footer>
	<script>
		hljs.initHighlightingOnLoad();
	</script>