<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>分页</h4>
				<p>分页组件为网站或WEB APP站点提供了一些常用的样式。</p>
				<div class="alert a-is-info">
					<p>分页，按钮组和表单组在样式上非常相似，所以他们继承了很多相同的类。</p>
				</div>
				<hr />

				<div class="row-fluid">
					<h4>基本的分页</h4>
					<p>基本的分页和任何简约设计一样，都是光滑和简洁的。</p>
				</div>
				<p>
					<span class="btn-label danger">栗子</span>
				</p>
				<div class="container">
					<div class="pagination">
						<ul>
							<li>
								<a href="#" class="btn btn-default">«</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">1</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">2</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">3</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">4</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">5</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">6</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">»</a>
							</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"pagination"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&laquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">1<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">2<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">3<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">4<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">5<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">6<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&raquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
  <span class="tag">&lt;<span class="title">/ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>

				<p>
					添加
					<code>active</code>
					类到你想要显示活动状态的按钮上
				</p>
				<p>
					<span class="btn-label danger">栗子</span>
				</p>
				<div class="container">
					<div class="pagination">
						<ul>
							<li>
								<a href="#" class="btn btn-default">«</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">1</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">2</a>
							</li>
							<li>
								<a href="#" class="btn btn-default active">3</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">4</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">5</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">6</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">»</a>
							</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"pagination"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&laquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">1<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">2<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default active"</span></span>&gt;</span><span class="">3<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">4<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">5<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">6<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&raquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
  <span class="tag">&lt;<span class="title">/ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>

				<hr />

				<div class="row-fluid">
					<h4>没有边框的分页</h4>
					<p>
						添加
						<code>no-b</code>
						到
						<code>pagination</code>
						上使分页没有边框。
					</p>
				</div>
				<p>
					<span class="btn-label danger">栗子</span>
				</p>
				<div class="container">
					<div class="pagination no-b">
						<ul>
							<li>
								<a href="#" class="btn btn-default">«</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">1</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">2</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">3</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">4</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">5</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">6</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">»</a>
							</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"pagination no-b"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&laquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">1<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">2<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">3<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">4<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">5<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">6<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&raquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
  <span class="tag">&lt;<span class="title">/ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>

				<p>
					添加
					<code>active</code>
					类到你想要显示活动状态的按钮上
				</p>
				<p>
					<span class="btn-label danger">栗子</span>
				</p>
				<div class="container">
					<div class="pagination no-b">
						<ul>
							<li>
								<a href="#" class="btn btn-default">«</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">1</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">2</a>
							</li>
							<li>
								<a href="#" class="btn btn-default active">3</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">4</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">5</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">6</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">»</a>
							</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"pagination no-b"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&laquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">1<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">2<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default active"</span></span>&gt;</span><span class="">3<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">4<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">5<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">6<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&raquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
  <span class="tag">&lt;<span class="title">/ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>

				<hr />

				<div class="row-fluid">
					<h4>渐变分页</h4>
					<p>需要渐变？我们也有做。</p>
				</div>
				<p>
					<span class="btn-label danger">栗子</span>
				</p>
				<div class="container">
					<div class="pagination pagination-gradient">
						<ul>
							<li>
								<a href="#" class="btn btn-default">«</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">1</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">2</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">3</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">4</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">5</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">6</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">»</a>
							</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"pagination pagination-gradient"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&laquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">1<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">2<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">3<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">4<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">5<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">6<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&raquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
  <span class="tag">&lt;<span class="title">/ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>

				<hr />

				<div class="row-fluid">
					<h4>大的分页</h4>
				</div>
				<p>
					添加
					<code>pagination-lg</code>
					类来增大尺寸。
				</p>
				<p>
					<span class="btn-label danger">栗子</span>
				</p>
				<div class="container">
					<div class="pagination pagination-lg">
						<ul>
							<li>
								<a href="#" class="btn btn-default">«</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">1</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">2</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">3</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">4</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">5</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">6</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">»</a>
							</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"pagination pagination-lg"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&laquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">1<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">2<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default active"</span></span>&gt;</span><span class="">3<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">4<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">5<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">6<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&raquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
  <span class="tag">&lt;<span class="title">/ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>

				<hr />
				<div class="row-fluid">
					<h4>小的分页</h4>
				</div>
				<p>
					添加
					<code>pagination-sm</code>
					类来缩小尺寸
				</p>
				<p>
					<span class="btn-label danger">栗子</span>
				</p>
				<div class="container">
					<div class="pagination pagination-sm">
						<ul>
							<li>
								<a href="#" class="btn btn-default">«</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">1</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">2</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">3</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">4</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">5</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">6</a>
							</li>
							<li>
								<a href="#" class="btn btn-default">»</a>
							</li>
						</ul>
					</div>
				</div>

				<pre><code class="xml"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="attribute">"pagination pagination-sm"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">ul</span>&gt;</span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&laquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">1<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">2<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">3<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">4<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">5<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">6<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
    <span class="tag">&lt;<span class="title">li</span>&gt;</span><span class="tag">&lt;<span class="title">a</span></span> <span class="attribute">href</span>=<span>"#"</span> <span class="attribute">class</span>=<span>"btn btn-default"</span></span>&gt;</span><span class="">&raquo;<span class="tag">&lt;<span class="title">/a</span>&gt;</span><span class="tag">&lt;<span class="title">/li</span>&gt;</span></span>
  <span class="tag">&lt;<span class="title">/ul</span>&gt;</span>
<span class="tag">&lt;<span class="title">/div</span>&gt;</span></code></pre>

			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>