<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>进度条</h4>
				<p>
					跨浏览器兼容性
进度条组件使用了 CSS3 的 transition 和 animation 属性来完成一些特效。这些特性在 Internet Explorer 9 或以下版本中、Firefox 的老版本中没有被支持。Opera 12 不支持 animation 属性。
				</p>
				<hr />
                
                <div class="row-fluid">
					<h4>用法</h4>
				</div>

                <div class="row-fluid">
					<span class="btn-label danger">栗子</span>

					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							<span class="sr-only">60% </span>
						</div>
					</div>

					<pre><code class="xml">&lt;div class=&quot;progress&quot;&gt;
	&lt;div class=&quot;progress-bar&quot; role=&quot;progressbar&quot; aria-valuenow=&quot;60&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot; style=&quot;width: 60%;&quot;&gt;
		&lt;span class=&quot;sr-only&quot;&gt;60% &lt;/span&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
				</div>

				



			</div>
		</div>

	</div>
</div>

<footer></footer>
<script>hljs.initHighlightingOnLoad();</script>