<header class="head-nav mobile-hidden"></header>

<div class="mobile-nav"></div>

<div class="page-main">
	<div class="container12">

		<div class="grid2">
			<ul class="side-nav"></ul>
		</div>

		<div class="grid10">
			<div class="content-main">

				<h4>选项卡</h4>
				<p>创建拥有不同样式的选项卡导航。</p>
				<hr />

				<div class="row-fluid">
					<h4>基本的选项卡</h4>
				</div>

				<div class="row-fluid">
					<span class="btn-label danger">栗子</span>

					<div class="tabbox">
						<div class="hd">
							<ul>
								<li>教育</li>
								<li>培训</li>
								<li>出国</li>
							</ul>
						</div>
						<div class="bd">

							<!-- inBox S -->					
							<div class="tabboxin">
								<div class="inHd">
									<ul>
										<li>栏目一</li>
										<li>栏目二</li>
										<li>栏目三</li>
									</ul>
								</div>
								<div class="inBd">
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">中国打破了世界软件巨头规则</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">口语：会说中文就能说英语！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">农场摘菜不如在线学外语好玩</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">学英语送ipad2,45天突破听说</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">学外语，上北外！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">那些无法理解的荒唐事</a>
										</li>
									</ul>
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">名师教作文：３妙招巧写高分</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">耶鲁小子：教你备考SAT</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">施强：高端专业语言教学</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">【推荐】名校英语方法曝光！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">2012高考“考点”大曝光!!</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">涨价仍爆棚假日旅游冰火两重天</a>
										</li>
									</ul>
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">澳大利亚八大名校招生说明会</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">2012世界大学排名新鲜出炉</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">新加坡留学，国际双语课程</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">高考后留学日本名校随你选</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">教育培训行业优势资源推介</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">即刻预约今年最后一场教育展</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">女友坚持警局完婚不抛弃</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- inBox S -->					
							<div class="tabboxin">
								<div class="inHd">
									<ul>
										<li>栏目三</li>
										<li>栏目四</li>
										<li>栏目五</li>
									</ul>
								</div>
								<div class="inBd">
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">中国打破了世界软件巨头规则</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">口语：会说中文就能说英语！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">农场摘菜不如在线学外语好玩</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">学英语送ipad2,45天突破听说</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">学外语，上北外！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">那些无法理解的荒唐事</a>
										</li>
									</ul>
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">名师教作文：３妙招巧写高分</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">耶鲁小子：教你备考SAT</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">施强：高端专业语言教学</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">【推荐】名校英语方法曝光！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">2012高考“考点”大曝光!!</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">涨价仍爆棚假日旅游冰火两重天</a>
										</li>
									</ul>
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">澳大利亚八大名校招生说明会</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">2012世界大学排名新鲜出炉</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">新加坡留学，国际双语课程</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">高考后留学日本名校随你选</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">教育培训行业优势资源推介</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">即刻预约今年最后一场教育展</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">女友坚持警局完婚不抛弃</a>
										</li>
									</ul>
								</div>
							</div>

							<!-- inBox S -->					
							<div class="tabboxin">
								<div class="inHd">
									<ul>
										<li>栏目六</li>
										<li>栏目七</li>
										<li>栏目八</li>
									</ul>
								</div>
								<div class="inBd">
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">中国打破了世界软件巨头规则</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">口语：会说中文就能说英语！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">农场摘菜不如在线学外语好玩</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">学英语送ipad2,45天突破听说</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">学外语，上北外！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">那些无法理解的荒唐事</a>
										</li>
									</ul>
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">名师教作文：３妙招巧写高分</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">耶鲁小子：教你备考SAT</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">施强：高端专业语言教学</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">数理化老师竟也看学习资料？</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">【推荐】名校英语方法曝光！</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">2012高考“考点”大曝光!!</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">涨价仍爆棚假日旅游冰火两重天</a>
										</li>
									</ul>
									<ul>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">澳大利亚八大名校招生说明会</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">2012世界大学排名新鲜出炉</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">新加坡留学，国际双语课程</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">高考后留学日本名校随你选</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">教育培训行业优势资源推介</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">即刻预约今年最后一场教育展</a>
										</li>
										<li>
											<span class="date">2011-11-11</span>
											<a href="http://www.SuperSlide2.com" target="_blank">女友坚持警局完婚不抛弃</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
						<!-- bd E -->					
					</div>
                    

<pre><code class="xml">                                    &lt;div class=&quot;tabbox&quot;&gt;
						&lt;div class=&quot;hd&quot;&gt;
							&lt;ul&gt;
								&lt;li&gt;教育&lt;/li&gt;
								&lt;li&gt;培训&lt;/li&gt;
								&lt;li&gt;出国&lt;/li&gt;
							&lt;/ul&gt;
						&lt;/div&gt;
						&lt;div class=&quot;bd&quot;&gt;

					&lt;!-- inBox S --&gt;					
						&lt;div class=&quot;tabboxin&quot;&gt;
							&lt;div class=&quot;inHd&quot;&gt;
								&lt;ul&gt;
									&lt;li&gt;栏目一&lt;/li&gt;
									&lt;li&gt;栏目二&lt;/li&gt;
									&lt;li&gt;栏目三&lt;/li&gt;
								&lt;/ul&gt;
							&lt;/div&gt;
							&lt;div class=&quot;inBd&quot;&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;中国打破了世界软件巨头规则&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;口语：会说中文就能说英语！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;农场摘菜不如在线学外语好玩&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;数理化老师竟也看学习资料？&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;学英语送ipad2,45天突破听说&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;学外语，上北外！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;那些无法理解的荒唐事&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;名师教作文：３妙招巧写高分&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;耶鲁小子：教你备考SAT&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;施强：高端专业语言教学&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;数理化老师竟也看学习资料？&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;【推荐】名校英语方法曝光！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;2012高考“考点”大曝光!!&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;涨价仍爆棚假日旅游冰火两重天&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;澳大利亚八大名校招生说明会&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;2012世界大学排名新鲜出炉&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;新加坡留学，国际双语课程&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;高考后留学日本名校随你选&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;教育培训行业优势资源推介&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;即刻预约今年最后一场教育展&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;女友坚持警局完婚不抛弃&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
							&lt;/div&gt;
						&lt;/div&gt;

						&lt;!-- inBox S --&gt;					
						&lt;div class=&quot;tabboxin&quot;&gt;
							&lt;div class=&quot;inHd&quot;&gt;
								&lt;ul&gt;
									&lt;li&gt;栏目三&lt;/li&gt;
									&lt;li&gt;栏目四&lt;/li&gt;
									&lt;li&gt;栏目五&lt;/li&gt;
								&lt;/ul&gt;
							&lt;/div&gt;
							&lt;div class=&quot;inBd&quot;&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;中国打破了世界软件巨头规则&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;口语：会说中文就能说英语！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;农场摘菜不如在线学外语好玩&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;数理化老师竟也看学习资料？&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;学英语送ipad2,45天突破听说&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;学外语，上北外！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;那些无法理解的荒唐事&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;名师教作文：３妙招巧写高分&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;耶鲁小子：教你备考SAT&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;施强：高端专业语言教学&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;数理化老师竟也看学习资料？&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;【推荐】名校英语方法曝光！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;2012高考“考点”大曝光!!&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;涨价仍爆棚假日旅游冰火两重天&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;澳大利亚八大名校招生说明会&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;2012世界大学排名新鲜出炉&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;新加坡留学，国际双语课程&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;高考后留学日本名校随你选&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;教育培训行业优势资源推介&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;即刻预约今年最后一场教育展&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;女友坚持警局完婚不抛弃&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
							&lt;/div&gt;
						&lt;/div&gt;

						&lt;!-- inBox S --&gt;					
						&lt;div class=&quot;tabboxin&quot;&gt;
							&lt;div class=&quot;inHd&quot;&gt;
								&lt;ul&gt;
									&lt;li&gt;栏目六&lt;/li&gt;
									&lt;li&gt;栏目七&lt;/li&gt;
									&lt;li&gt;栏目八&lt;/li&gt;
								&lt;/ul&gt;
							&lt;/div&gt;
							&lt;div class=&quot;inBd&quot;&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;中国打破了世界软件巨头规则&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;口语：会说中文就能说英语！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;农场摘菜不如在线学外语好玩&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;数理化老师竟也看学习资料？&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;学英语送ipad2,45天突破听说&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;学外语，上北外！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;那些无法理解的荒唐事&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;名师教作文：３妙招巧写高分&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;耶鲁小子：教你备考SAT&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;施强：高端专业语言教学&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;数理化老师竟也看学习资料？&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;【推荐】名校英语方法曝光！&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;2012高考“考点”大曝光!!&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;涨价仍爆棚假日旅游冰火两重天&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
								&lt;ul&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;澳大利亚八大名校招生说明会&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;2012世界大学排名新鲜出炉&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;新加坡留学，国际双语课程&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;高考后留学日本名校随你选&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;教育培训行业优势资源推介&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;即刻预约今年最后一场教育展&lt;/a&gt;
									&lt;/li&gt;
									&lt;li&gt;
										&lt;span class=&quot;date&quot;&gt;2011-11-11&lt;/span&gt;
										&lt;a href=&quot;http://www.SuperSlide2.com&quot; target=&quot;_blank&quot;&gt;女友坚持警局完婚不抛弃&lt;/a&gt;
									&lt;/li&gt;
								&lt;/ul&gt;
							&lt;/div&gt;
						&lt;/div&gt;

					&lt;/div&gt;
					&lt;!-- bd E --&gt;					
				&lt;/div&gt;
</code></pre>
				</div>

				

			</div>
		</div>

	</div>
</div>

<footer></footer>
<script type="text/javascript">
$(".tabboxin").slide({ titCell:".inHd li",mainCell:".inBd" });
$(".tabbox").slide({ effect:"left" });
		</script>
<script>hljs.initHighlightingOnLoad();</script>