
	<header class="head-nav mobile-hidden">
		
	</header>

	<div class="mobile-nav">
		
	</div>

	<div class="page-main">
		<div class="container12">

			<div class="grid2">
				<ul class="side-nav">
					
				</ul>
			</div>

			<div class="grid10">
				<div class="content-main">

	                <h4>字体</h4>
		            <p>
		               本网站使用了微软雅黑字体，要替换字体，在 <code>text.css</code> 的body里设置。 
		            </p>
            		<hr />

		            <h4>标题</h4>
		            <p>所有html里的标题从 <code>h1</code> 到 <code>h6</code> 都是可用的。你可以为你的元素找到合适的标题样式。考虑到雅黑字体加粗后美观度较差，默认去除了标题的加粗属性，如需要可加上 <code>strong</code> 标签或在 <code>text.css</code> 里重新定义。
		            </p>
		            <p><span class="btn-label danger">栗子</span></p>
		            <h1><strong>H1 Heading</strong></h1>
		            <h2>H2 Heading</h2>
		            <h3>H3 Heading</h3>
		            <h4 style="margin:3px 0 7px 0;">H4 Heading</h4>
		            <h5>H5 Heading</h5>
		            <h6>H6 Heading</h6>

            		<pre><code class="xml"><span class="tag">&lt;<span class="title">h1</span>&gt;</span><span class="attribute">H1 Heading</span></span>&lt;/h1&gt;</span>
<span class="tag">&lt;<span class="title">h2</span>&gt;</span><span class="attribute">H2 Heading</span></span>&lt;/h2&gt;</span>
<span class="tag">&lt;<span class="title">h3</span>&gt;</span><span class="attribute">H3 Heading</span></span>&lt;/h3&gt;</span>
<span class="tag">&lt;<span class="title">h4</span>&gt;</span><span class="attribute">H4 Heading</span></span>&lt;/h4&gt;</span>
<span class="tag">&lt;<span class="title">h5</span>&gt;</span><span class="attribute">H5 Heading</span></span>&lt;/h5&gt;</span>
<span class="tag">&lt;<span class="title">h6</span>&gt;</span><span class="attribute">H6 Heading</span></span>&lt;/h6&gt;</span>
</code></pre>
 
          			<hr />
          
		           
          
		            <div class="row-fluid">
			              <h4>Body文本</h4>
			              <p>Body文本默认设置： <code>font-size</code> : <strong>13px</strong> 。文本内容的行高（<code>p</code>标签内）：<code>line-height</code> : <strong>22px</strong>。
			              你还能在 <code>text.css</code> 里找到文本对齐的样式类 <code>text-left</code>, <code>text-right</code>, 等。
			              </p>
			              <pre><code><span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="attribute">…</span></span>&lt;/p&gt;</span></code></pre>
			              <p><span class="btn-label danger">栗子</span></p>

			              <div class="grid12">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, dolorem, dolor, amet fugiat ad omnis eveniet harum recusandae maxime delectus illo nisi a nostrum modi ex. Nemo sapiente eum soluta?</p>

							<p>Illo, iste, pariatur, dicta, consequatur maiores deserunt temporibus doloribus voluptas asperiores sint dolorum deleniti animi mollitia quod ullam fugit a atque inventore facilis ab dolorem magni necessitatibus tempore dolor itaque.</p>

							<p>Eligendi, accusantium, inventore alias ab eos explicabo quam temporibus. Quae, error, earepudiandae praesentium illo distinctio molestiae placeat totam quibusdam cumque veniam animi aut mollitia laborum soluta repellendus deleniti illum?</p>
			              </div>
		        	</div>

        			<div class="row-fluid">
            			<div class="grid4 alpha">
		                <h5 class="text-center"><code>text-center</code></h5>
		                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing 
		                    elit. Sunt, possimus, dignissimos mollitia blanditiis labore optio reiciendis odio iure 
		                    doloremque quam eveniet doloribus laudantium inventore non atque officiis explicabo perspiciatis nam.
		                </p>
            			</div>
		                <div class="grid4">
		                	<h5 class="text-center"><code>text-right</code></h5>
		                	<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing 
		                  elit. Quia, architecto fugiat possimus eius vero molestias ab harum nam 
		                  dolores rerum. Officiis, dolores quam quas molestiae voluptatum ipsum quidem vero repellat.</p>
		                </div>
		                <div class="grid4 omega">
		                	<h5 class="text-center"><code>text-justified</code></h5>
		                    <p class="text-justified">Lorem ipsum dolor sit amet, consectetur adipisicing 
		                    elit. Quo, provident, ipsum laborum rem natus eveniet? Pariatur, corporis, 
		                    nemo in ab quos tempore libero dolorem impedit dicta laboriosam! Quam, nemo libero.</p>
		                </div>
          			</div>
          				

				</div>
			</div>

		</div>
	</div>
	
	<footer>
		
	</footer>
	<script>
		hljs.initHighlightingOnLoad();
	</script>
		